body {
    font-family: Arial, serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

#main-banner {
    background-image: url(chew-lake.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-clear {
    clear: both;
}

.info-box {
    margin-bottom: 15px;
}

.info-box .card {
    height: 100%;
    background-color: rgba(196, 200, 145, 0.25);
}

.image-right {
    float: right;
    width: 350px;
    padding: 10px;
}

/** MAP */

.mapouter{text-align:right;height:300px;width:300px;}
.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:300px;}